@model drugStore7.Web.ViewModels.FooterViewModel



<footer class="footer footer-dark footer-2">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <img src="/Files/StaticContentImages/Image/@Model.Logo.Image" class="footer-logo mb-0"
                             alt="Footer Logo" width="82" height="25">
                        <p>
                            @Html.Raw(Model.Logo.ShortDescription)
                        </p>

                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">سوالی دارید؟ 7روز هفته/24ساعته</span>
                                    <a href="tel:@Model.Phone.ShortDescription">@Model.Phone.ShortDescription</a>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/Blog">بلاگ</a></li>
                            <li><a href="/gallery">گالری</a></li>
                            <li><a href="/Certificates">افتخارات</a></li>
                            <li><a href="/faq">سوالات متداول</a></li>
                            <li><a href="/about">درباره ما</a></li>
                            <li><a href="/ContactUs">تماس با ما</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">شبکه های اجتماعی</h4><!-- End .widget-title -->

                        <div class="social-icons social-icons-color">
                            <a href="@Model.Facebook.Link" class="social-icon social-facebook" title="@Model.Facebook.Title" target="_blank">
                                <i class="icon-facebook-f"></i>
                            </a>
                            <a href="@Model.Twitter.Link" class="social-icon social-twitter" title="@Model.Twitter.Title" target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="@Model.Instagram.Link" class="social-icon social-instagram" title="@Model.Instagram.Title" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                            <a href="@Model.Youtube.Link" class="social-icon social-youtube" title="@Model.Youtube.Title" target="_blank">
                                <i class="icon-youtube"></i>
                            </a>
                            <a href="@Model.Pinterest.Link" class="social-icon social-pinterest" title="@Model.Pinterest.Title" target="_blank">
                                <i class="icon-pinterest"></i>
                            </a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright text-white"> <a href="@Model.Logo.Link">© طراحی شده توسط اسپاد</a></p>
            <!-- End .footer-copyright -->


        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->