@model List<drugStore7.Web.ViewModels.ProductWithPriceViewModel>
<section class="product-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-part text-center mb-30 mb-sm-20">
                    <h2 class="main_title">محصولات پر فروش</h2>
                </div>
            </div>

        </div>
        <div class="position-r">
            <div class="row">
                <div class="product-slider owl-carousel position-initial">
                    @foreach (var item in Model)
                    {

                        var discountTypeStr = ((int)item.DiscountType) == 1 ? "درصد" : "تومان";

                        <div class="item">
                            <div class="product-item">
                                <a href="/Shop/Product/@item.Id">
                                    <div class="product-image">
                                        @if (item.Price > 200000)
                                        {
                                            <div class="new-label" title="ارسال رایگان"><span><i class="fas fa-shipping-fast"></i></span></div>
                                        }
                                        <img class="cart-item-image" src="/Files/ProductImages/Thumb/@item.Image" alt="@item.ShortTitle">
                                    </div>


                                </a>
                                <div class="product-details-outer">
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="/Shop/Product/@item.Id">@item.ShortTitle</a>
                                        </div>


                                        <div class="price-section-wrapper">
                                            @if (item.DiscountAmount > 0)
                                            {
                                                <div class="sale-label-container">
                                                    <div class="sale-label"><span>@item.DiscountAmount @discountTypeStr</span></div>
                                                </div>
                                            }
                                            <div class="price-wrapper">
                                                @if (item.Price == 0)
                                                {
                                                    <a href="javascript:void(0)">-</a>
                                                }
                                                else if (item.PriceAfterDiscount < item.Price)
                                                {
                                                    <del class="price old-price">@item.Price.ToString("##,###")</del>
                                                    <span class="price">@item.PriceAfterDiscount.ToString("##,###") تومان</span>
                                                }
                                                else
                                                {
                                                    <span class="price">@item.Price.ToString("##,###") تومان</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-details-btn">
                                        <div class="hover-product-details">

                                            <div class="product-title">
                                                <a href="/Shop/Product/@item.Id">@item.ShortTitle</a>
                                            </div>




                                            <div class="price-section-wrapper">
                                                @if (item.DiscountAmount > 0)
                                                {
                                                    <div class="sale-label-container">
                                                        <div class="sale-label"><span>@item.DiscountAmount @discountTypeStr</span></div>
                                                    </div>
                                                }
                                                <div class="price-wrapper">
                                                    @if (item.Price == 0)
                                                    {
                                                        <a href="javascript:void(0)">-</a>
                                                    }
                                                    else if (item.PriceAfterDiscount < item.Price)
                                                    {
                                                        <del class="price old-price">@item.Price.ToString("##,###")</del>
                                                        <span class="price">@item.PriceAfterDiscount.ToString("##,###") تومان</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="price">@item.Price.ToString("##,###") تومان</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        @if (item.Price > 0 && item.PriceAfterDiscount > 0)
                                        {
                                            <a href="javascript:void(0)" onclick="AddToCart(@item.Id)" class="btn add-product-btn">اضافه کردن به سبد خرید</a>

                                        }
                                        else
                                        {
                                            <a href="tel:@ViewBag.CallForProductNumber.Title" class="btn add-product-btn" style="">تماس بگیرید</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>

