@model drugStore7.Web.ViewModels.CartModel
@{
    ViewBag.Title = "ثبت نهایی";
}
<div class="contant">
    <div id="banner-part" class="banner inner-banner">
        <div class="container">
            <div class="bread-crumb-main">
                <h1 class="banner-title">ثبت نهایی</h1>
                <div class="breadcrumb">
                    <ul class="inline">
                        <li><a href="/">خانه</a></li>
                        <li>ثبت نهایی</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-part ptb-100">
        <div class="container">
            <form class="main-form" action="/Shop/Checkout" method="post">
                @if (ViewBag.Errors.Count > 0)
                {
                    <div class="row">
                        <div class="col-12 alert alert-danger">
                            @foreach (string error in ViewBag.Errors)
                            {
                                <div>@error</div>
                            }
                        </div>
                    </div>
                }

                @{
                    var overallPrice = ViewBag.DiscountAmount + Model.TotalPrice;
                }
                <div class="row">
                    @if (ViewBag.Errors.Count < 1) // don't show checkout form if there are errors
                    {
                        @Html.Action("CheckoutForm", "Shop", new { invoiceNumber = ViewBag.InvoiceNumber })
                    }

                    <div class="col-12 col-lg-4">
                        <div class="heading-part mb-30 mb-sm-20">
                            <h3>اقلام سفارش شما</h3>
                        </div>
                        <div class="checkout-products sidebar-product mb-60">
                            <ul>
                                @foreach (var item in Model.CartItems)
                                {
                                    <li>
                                        <div class="pro-media">
                                            <a href="/Product/@item.Id/@item.ProductName.Replace(' ', '-')">
                                                <img alt="@item.ProductName"
                                                     src="/Files/ProductImages/Thumb/@item.Image">
                                            </a>
                                        </div>
                                        <div class="pro-detail-info">
                                            <a href="/Product/@item.Id/@item.ProductName.Replace(' ', '-')" class="product-title">
                                                @item.ProductName
                                            </a>
                                            <div class="price-box">
                                                <span class="price">@item.Price.ToString("##,###") تومان</span>
                                            </div>
                                            <div class="checkout-qty">
                                                <div>
                                                    <label>تعداد </label>
                                                    <span class="info-deta">@item.Quantity</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                        @if (overallPrice > 200000)
                        {
                            <div class="free-delivery mb-30 mb-sm-20">
                                <div class="delivery-icon"><i class="fas fa-shipping-fast"></i></div>
                                <div class="delivery-text"><span>ارسال رایگان محموله</span></div>
                            </div>
                        }

                        @if (ViewBag.DiscountCode.Equals(""))
                        {
                            <div class="checkout-discount-section-container mb-20">

                                <div class="check-box-container">
                                    <div>
                                        <label for="" class="control-label chkbox-label">کد تخفیف دارید؟</label>
                                    </div>
                                    <div>
                                        <input id="chkHasDiscountCode" name="chkHasDiscountCode" type="checkbox" class="form-control fashioned-checkbox" />
                                        <label id="lblHasDiscountCode" for="chkHasDiscountCode" class="chkbox">Toggle</label>
                                    </div>
                                </div>


                                <div class="checkout-discount-section">

                                    <span class="inputdesc"><i class="fa fa-info-circle"></i> شما تنها امکان اعمال یک کد تخفیف را دارید.</span>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="text" id="txtDiscountCode" name="txtDiscountCode" placeholder="کد تخفیف" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-color btn-discount" onclick="ApplyDiscountCode(event, @ViewBag.InvoiceNumber)">اعمال</button>
                                        </div>
                                    </div>

                                    <div class="discount-message"></div>

                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="checkout-discount-section-container mb-20">

                                <div class="check-box-container">
                                    <div>
                                        <label for="" class="control-label chkbox-label">کد تخفیف شما:</label>
                                    </div>
                                </div>


                                <div class="checkout-discount-section" style="display:block">

                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="text" id="txtDiscountCode" name="txtDiscountCode" placeholder="کد تخفیف" value="@ViewBag.DiscountCode" disabled="disabled" />
                                        </div>
                                    </div>

                                    <span class="inputdesc"><i class="fa fa-info-circle"></i> شما تنها امکان اعمال یک کد تخفیف را دارید.</span>

                                </div>

                            </div>
                        }


                        <div class="complete-order-detail commun-table gray-bg mb-30">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <tbody>
                                        <tr>
                                            <td><b>تاریخ</b></td>
                                            <td>@ViewBag.Today</td>
                                        </tr>
                                        <tr>
                                            <td><b>شماره سفارش</b></td>
                                            <td>#@ViewBag.InvoiceNumber</td>
                                        </tr>
                                        <tr>
                                            <td><b>مبلغ سفارش</b></td>
                                            <td>@overallPrice.ToString("##,###") تومان</td>
                                        </tr>
                                        <tr>
                                            @{ 
                                                var strDiscount = ViewBag.DiscountAmount == 0 ? "0 تومان" : ViewBag.DiscountAmount.ToString("##,###") + " تومان";
                                            }
                                            <td><b>تخفیف</b></td>
                                            <td id="tdDiscountAmount">@strDiscount</td>
                                        </tr>
                                        <tr>
                                            <td><b>مبلغ نهایی</b></td>
                                            <td>
                                                <div class="price-box"><span class="price finalPrice">@Model.TotalPrice.ToString("##,###") تومان</span></div>
                                            </td>
                                        </tr>
                                        @*<tr>
                            <td><b>روش پرداخت</b></td>
                            <td>درب منزل</td>
                        </tr>
                        <tr>
                            <td><b>شماره سفارش</b></td>
                            <td>#011052</td>
                        </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section LoadingOverlay
{
    @Scripts.Render("~/Vendors/")
}



