@model List<SpadStore.Web.ViewModels.LatestArticlesViewModel>

<section class="blog-section pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-part text-center mb-30 mb-sm-20">
                    <h2 class="main_title">آخرین اخبار</h2>
                </div>
            </div>
        </div>
        <div class="blog-contant list-view mb_-30">
            <div class="row">
                    <div class="col-lg-6">
                        <div class="blog-item first-blog">
                            <div class="blog-image">
                                <a href="/Blog/Article/@Model[1].Id/@Model[1].Title">
                                    <img src="~/Files/ArticleImages/Image/@Model[1].Image" alt="@Model[0].Title">
                                </a>
                            </div>
                            <div class="blog-detail">
                                <span class="bloger-date">@Model[0].Author @Model[0].PersianDate</span>
                                <h3 class="head-three mb-10">
                                    <a href="@Model[1].Id/@Model[1].Title">
                                        @Model[0].Title
                                    </a>
                                </h3>
                                <p>
                                    @Model[0].ShortDescription
                                </p>
                                <a href="#" class="readmore-btn">بیشتر بخوانید</a>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="blog-item">
                                <div class="blog-image">
                                    <a href="@Model[1].Id/@Model[1].Title">
                                        <img src="/Files/ArticleImages/Thumb/@Model[1].Image" alt="@Model[1].Title">
                                    </a>
                                </div>
                                <div class="blog-detail">
                                    <span class="bloger-date">@Model[1].Author @Model[1].PersianDate</span>
                                    <h3 class="head-three mb-10">
                                        <a href="@Model[1].Id/@Model[1].Title">@Model[1].Title</a>
                                    </h3>
                                    <p>
                                        @Model[1].ShortDescription
                                    </p>
                                    <a href="#" class="readmore-btn">بیشتر بخوانید</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="blog-item">
                                <div class="blog-image">
                                    <a href="@Model[1].Id/@Model[1].Title">
                                        <img src="/Files/ArticleImages/Thumb/@Model[2].Image" alt="@Model[2].Title">
                                    </a>
                                </div>
                                <div class="blog-detail">
                                    <span class="bloger-date">@Model[2].Author @Model[2].PersianDate</span>
                                    <h3 class="head-three mb-10">
                                        <a href="@Model[1].Id/@Model[1].Title">
                                            @Model[2].Title
                                        </a>
                                    </h3>
                                    <p>
                                        @Model[2].ShortDescription
                                    </p>
                                    <a href="#" class="readmore-btn">بیشتر بخوانید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

