@model List<SpadStore.Core.Models.StaticContentDetail>
    <section id="banner-part" class="menu-section pb-100">
        <div class="banner main-banner owl-carousel">
            @foreach (var item in Model.Where(m => m.Image != null))
            {
                string link = "";
                if (!String.IsNullOrEmpty(item.Link))
                {
                    link = item.Link;
                }
                <a href="@link" style="display:block;">
                    <div class="banner">

                        <img src="/Files/StaticContentImages/Image/@item.Image" alt="@item.Title">
                        <div class="banner-detail">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="banner-detail-inner">
                                            @if (item.Title != null)
                                            {
                                                <span class="subtitle1">@item.Title</span>
                                            }
                                            @if (item.ShortDescription != null)
                                            {
                                                <h1 class="banner-title">@item.ShortDescription</h1>
                                            }
                                            @if (item.ShortDescription != null)
                                            {
                                                <div class="subtitle2">
                                                    <span class="part1">@Html.Raw(item.Description)</span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </section>

